<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <style type="text/css">
    
    .findbutton{
      position: relative;
      width: 20%;
      display: inline-block;
      margin-left: 70%;
    }
    .div_tab{
      width: 50%;
      margin-left: 25%;
    }
    .text_find{
      width: 80%;
    }
    .date_tab{
      width: 100%;
    }
    .datein{
      width: 15%;
      padding: 0 2.5%;
      display: inline-block;
    }
  </style>
  </head>
  <body>

    <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">GACC</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#fixed-tab-1" class="mdl-layout__tab is-active">По номеру</a>
          <a href="#fixed-tab-2" class="mdl-layout__tab">По водителю</a>
          <a href="#fixed-tab-3" class="mdl-layout__tab">По дню</a>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">ГАКК</span>
      </div>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
          <div class="page-content">
            <form class="" action="" method="post">
              {% csrf_token %}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label div_tab">
                <input class="mdl-textfield__input text_find" type="text" id="state_number" name='number'>
                <label class="mdl-textfield__label text_find" for="state_number">Номер</label>
                <input  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored findbutton" type="button"  value="Искать">
              </div>
            </form>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
          <div class="page-content">
            <form class="" action="" method="post">
              {% csrf_token %}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label div_tab">
                <input class="mdl-textfield__input text_find" type="text" id="driver" name='name'>
                <label class="mdl-textfield__label text_find" for="driver">ФИ водителя</label>
                <input  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored findbutton" type="button"  value="Искать">
              </div>
            </form>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
          <div class="page-content">
            <form class="" action="" method="post">
              {% csrf_token %}
              <div class="div_tab" style="margin: auto;">
                <input class="datein" style="margin: 0 0 0 5%" placeholder="Год" type="text" id="yr" name='year'>
                <input class="datein" placeholder="Месяц" type="text" id="mh" name='month'>
                <input class="datein" placeholder="День" type="text" id="dy" name='day'>
                <input  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button"  value="Искать">
              </div>
            </form>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
